space-sue/so101_rotate-retainer-pin/data/chunk-000/file-000.parquet
outputs/*
witsensai/*
space-sue/*
.env
.env*
witsense-ai/*
SCRIPTS_SUMMARY.txt
env
env.local
env.local.template
ROBOT_SETUP.md
COMPLETE_TRAINING_WORKFLOW.md
.gitignore
.gitignore
DATASET_PREPARATION.md
LOCAL_TRAINING_GUIDE.md
VM_QUICKSTART.md
scripts/outputs/captured_images/opencv__dev_video0.png
scripts/outputs/captured_images/opencv__dev_video2.png
scripts/outputs/captured_images/opencv__dev_video4.png
